<!-- Nav Container -->
<div class="container">
    <div style="margin-top: 15px;"></div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/checkout">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/locator" tabindex="-1">Store Locator</a>
        </li>
      </ul>
</div>