<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Maps Demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="icon" href="./gps.png">

</head>
<body>

    <div class="container">
        <div style="margin-top: 15px;"></div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link disabled" href="/">Home</a>
            </li>
          </ul>
    </div>

    <script  type="text/javascript">
        function store(){
           const company = document.getElementById("company");
           const logo = document.getElementById("logo")
           localStorage.setItem("company", company.value);
           localStorage.setItem("logo", logo.value);
          }
      </script>

    <!-- Logo Upload -->
    <div class="container">
        <br>
        <div class="row">
            <div class="col">
                <h1 class="text-center align-middle">Which company are you pitching?</h1>
                <div class="mt-5">
                    <form action="/checkout" method="GET">
                        <div class="md-form md-outline my-2">
                            <input type="text" name="company" id="company" class="form-control" autocomplete="off" placeholder="Enter company name here...">
                            <p class="mb-5 text-muted"><small>This is also used as the search term in the Places search on the locator so be thoughtful about how you name the company (e.g. "Apple Store" vs. just "Apple").</small></p>
                            <input type="text" name="logo" id="logo" class="form-control" autocomplete="off" placeholder="Enter the .png URL here...">
                            <p class="mb-5 text-muted"><small>Search for "[COMPANY] logo .png" on Google Images and click "Copy Image Address" (Mac) on an image with a blank background - usually a .png image - then paste it here.</small></p>
                            <hr class="mb-5">
                            <button type="submit" class="btn btn-primary btn-lg text-center" onclick="store()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            
    </div>
    <!-- Company Name Upload -->

    <!-- Find way to store it in local storage for use across other pages. -->

    
    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>